name: Validate packer template

on:
  pull_request:
    branches:
      - dev
      - main
jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Install Packer
        run: |
          wget https://releases.hashicorp.com/packer/1.8.6/packer_1.8.6_linux_amd64.zip
          unzip packer_1.8.6_linux_amd64.zip
          sudo mv packer /usr/local/bin/
          packer --version
        shell: bash

      - name: Initialize Packer Plugins
        run: packer init ./packer_templates/.

      - name: Zip Project Files
        run: zip -r webapp.zip ./

      - name: Create .env file
        run: touch .env
        
      - name: Format Packer Template
        run: |
          git diff --exit-code --quiet || (echo "Packer template formatting modified the file." && exit 1)
          packer fmt ./packer_templates/.
        working-directory: ${{ github.workspace }}

      - name: Validate Packer Template
        run: packer validate ./packer_templates/.
